.nav {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    width: 100%;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.397);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button {
    max-height: 40px;
}
.more:active {
    width: 30%;
    height: 100%;
}
